.flex {
  display: flex;
}

.col-w {
  width: 600px;
}

.dot-w {
  width: 50px;
}

.field-body {
  display: flex;
  justify-content: center;
}

.field-body table tr {
  height: 60px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.header-sub {
  text-align: center;
  font-size: 26px;
}

.header-title {
  /* border-bottom: 3px solid black; */
  font-size: 32px;
}

.template-footer {
  display: flex;
  justify-content: space-between;

  margin: 50px 50px 100px;
  padding: 50px;
}

.doc-seal {
  display: flex;
  gap: 60px;
}

tr td,
.template-footer p {
  font-size: 26px !important;
}

.container {
  width: 1500px; /* Set a fixed width */
  /* Allow content to overflow the container */
  font-family: "Times New Roman", Times, serif;
}
/* Media query for printing (PDF generation) */
@media print {
  .container {
    width: 800px; /* Set a fixed width for printing */
  }
}

@media print {
  body {
    zoom: 100%;
  }
}
